/* Add your custom CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .game-selector {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .game-card, .book-card {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
  }
  
  .game-card:hover, .book-card:hover {
    background-color: #e6e6e6;
  }
  
  .game-container {
    display: none;
    margin: 20px;
  }
  
  .book-options {
    display: flex;
    justify-content: center;
  }
  
  .word-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .word-image {
    max-width: 200px;
    height: auto;
  }
  #book1-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  #book1 .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #book1 .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  #book1 .word-search {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #book1 .word-search h2 {
    margin-top: 0;
  }
  
  #book1 .word-search ul {
    list-style-type: none;
    padding: 0;
  }
  
  #book1 .word-search li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .word {
    font-weight: bold;
  }
  #book1 .word-search li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #book1 .word-search .word-image {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
  }